---
import BodyText from "~/components/BodyText.astro";
import Sponsors from "~/components/Sponsors.astro";
import Information from "~/components/Information.astro";
import PrimaryContents from "~/components/PrimaryContents.astro";
import PrimaryHero from "~/components/PrimaryHero.astro";
import SpeakersContent from "~/components/SpeakersContent.astro";
import ContentLayout from "~/layouts/ContentLayout.astro";
import MCs from "~/components/MCs.astro";
---

<ContentLayout>
	<PrimaryHero />
	<PrimaryContents>
		<div class="contents">
			<Information />
			<SpeakersContent />
			<MCs />
			<Sponsors />
		</div>
	</PrimaryContents>
</ContentLayout>

<style>
	.contents {
		align-items: center;
		display: flex;
		gap: 7rem;
		flex-direction: column;
	}
</style>
