---
import { talks } from "~/data";

import BodyText from "~/components/BodyText.astro";
import Heading from "./Heading.astro";
import SquiggleFlanked from "./SquiggleFlanked.astro";
import FullSection from "./FullSection.astro";
import Speaker from "./Speaker.astro";
import SubtleCard from "./SubtleCard.astro";
import TagLine from "./TagLine.astro";
---

<FullSection>
	<SquiggleFlanked class="squiggle-flanked" width="lean">
		<Heading class="heading" id="speakers" level="h2" link>Speakers</Heading>
	</SquiggleFlanked>

	<TagLine />
	<br />
	<BodyText as="p" class="speakers-body-text" size="large" width="lean">
		See full details on <a href="/talks">Talks</a>.
	</BodyText>

	<ul class="speakers-list">
		{
			talks.flatMap((talk) =>
				talk.people.map((person) => (
					<SubtleCard class="speaker-card">
						<Speaker href={`/talks#${talk.slug}`} link person={person} />
					</SubtleCard>
				)),
			)
		}
	</ul>

	<BodyText as="p" class="speakers-body-text" size="large" width="lean">
		You’ll emerge with the best techniques to supercharge your projects —
		whether you’re already a tooling wizard or trying to become one.
		<br />
		<br />
		See full details on <a href="/talks">Talks</a>.
	</BodyText>
</FullSection>

<style>
	.squiggle-flanked {
		margin-bottom: 3rem;
	}

	.heading {
		font-size: var(--fontSizeH2);
	}

	.speakers-body-text {
		margin: auto;
	}

	.speakers-list {
		display: flex;
		flex-direction: column;
		font-family: var(--fontFamilyBody);
		gap: 2rem;
		justify-content: center;
		padding: 2rem 0;
	}

	.speaker-card {
		max-width: 70%;
		width: 100%;
	}

	@media (min-width: 700px) {
		.speakers-list {
			align-items: center;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			margin: auto;
			max-width: var(--widthBodyLean);
		}

		.speaker-card {
			width: 48%;
		}
	}

	@media (min-width: 1017px) {
		.speakers-list {
			max-width: var(--widthBodyFull);
		}

		.speaker-card {
			width: 31%;
		}
	}
</style>
