---
import { talks } from "~/data";

import BodyText from "~/components/BodyText.astro";
import Heading from "./Heading.astro";
import SquiggleFlanked from "./SquiggleFlanked.astro";
import FullSection from "./FullSection.astro";
import Speaker from "./Speaker.astro";
import SubtleCard from "./SubtleCard.astro";
import TagLine from "./TagLine.astro";
import CardsList from "./CardsList.astro";
---

<FullSection>
	<SquiggleFlanked class="squiggle-flanked" width="lean">
		<Heading class="heading" id="speakers" level="h2" link>Speakers</Heading>
	</SquiggleFlanked>

	<TagLine />
	<br />
	<BodyText as="p" class="speakers-body-text" size="large" width="lean">
		See full details on <a href="/talks">Talks</a>.
	</BodyText>

	<CardsList class="speakers-list">
		{
			talks.flatMap((talk) =>
				talk.people.map((person) => (
					<SubtleCard class="speaker-card">
						<Speaker href={`/talks#${talk.slug}`} link person={person} />
					</SubtleCard>
				)),
			)
		}
	</CardsList>

	<BodyText as="p" class="speakers-body-text" size="large" width="lean">
		You’ll emerge with the best techniques to supercharge your projects —
		whether you’re already a tooling wizard or trying to become one.
		<br />
		<br />
		See full details on <a href="/talks">Talks</a>.
	</BodyText>
</FullSection>

<style>
	.squiggle-flanked {
		margin-bottom: 3rem;
	}

	.heading {
		font-size: var(--fontSizeH2);
	}

	.speakers-body-text {
		margin: auto;
	}

	@media (min-width: 700px) {
		.speaker-card {
			width: 47%;
		}
	}

	@media (min-width: 1017px) {
		.speaker-card {
			width: 31%;
		}
	}
</style>
