---
interface Props {
	format: string;
}

const { format } = Astro.props;
---

<div class="format">
	{format === "Full" && <div class="full">Full-Length Talk</div>}
	{format === "Workshop" && <div class="workshop">Workshop</div>}
	{format === "Lightning" && <div class="lightning">Lightning Talk</div>}
</div>

<style>
	.format {
		display: inline-block;
		font-size: 1rem;
		padding: 0.25rem 0.5rem;
	}

	.full {
		/* background-color: red; */
	}

	.workshop {
		/* background-color: blue; */
	}

	.lightning {
		/* background-color: green; */
	}
</style>
