---
import { Image } from "astro:assets";
import Discord from "~/assets/logos/Discord.png";

interface Props {
	discord: string;
}

const { discord } = Astro.props;
---

<div class="discord">
	<Image
		class="image"
		src={Discord}
		alt={`discord channel ${Discord}`}
		width={24}
	/>
	#{discord}
</div>

<style>
	.discord {
		background-color: var(--colorPrimary);
		border-radius: 0.25rem;
		color: var(--colorWhite);
		display: inline-flex;
		align-items: center;
		font-size: 1rem;
		padding: 0.25rem;
	}

	.image {
		margin-right: 0.25rem;
	}
</style>
