---
interface Props {
	discord: string;
}

const { discord } = Astro.props;
---

<div class="discord">
	Discord Channel: {discord}
</div>

<style>
	.discord {
		background-color: var(--colorPrimary);
		border-radius: 1rem;
		color: var(--colorWhite);
		display: inline-block;
		font-size: 1.2rem;
		margin-right: 1rem;
		padding: 0.5rem 1rem;
	}
</style>
