* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

a {
	color: inherit;
	text-decoration-thickness: 1px;
}

h1,
h2,
h3,
ol,
p {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

/* no idea why this wouldn't work in Talk.astro  */
.talk-description > p {
	margin-bottom: 0.5rem;
}
